.form {
    background-color: rgb(241, 243, 243);
    /* border: 1px solid black; */
}

.inputs{
    background-color: rgba(252, 252, 252, 0.76);
    margin: auto;
    height: 40px;
    /* border-bottom: 1px solid rgb(82, 82, 82); */
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
}