.homepage{
    background-image:linear-gradient(rgba(41, 41, 41, 0.356), rgba(7, 7, 7, 0.848)), url("../../../public/assets/background/home.jpg");
    background-position: center;
    background-size: cover;
}
.getStartedButton{
    border: none;
    background-color: #2092be;
    color: white;
    height: 50px;
    border-radius: 25px;
    padding-left: 16px;
    padding-right: 16px;
    transition: 0.3s;
}

.getStartedButton:hover{
    background-color: #246883;
    color: rgb(197, 197, 197);
}

.service{
    border: 1px solid black;
     height: 250px;
     width: 300px;
}