.homepage{
    background-image:linear-gradient(rgba(41, 41, 41, 0.356), rgba(7, 7, 7, 0.848)), url("../../../public/assets/background/home.jpg");
    background-position: center;
    background-size: cover;
}
.getStartedButton{
    border: none;
    background-color: #2092be;
    color: white;
    height: 50px;
    border-radius: 15px;
    padding-left: 16px;
    padding-right: 16px;
    transition: 0.3s;
}

.getStartedButton:hover{
    background-color: #246883;
    color: rgb(197, 197, 197);
}

.service{
     background-color: rgb(241, 243, 243);
     width: 300px;
     padding: 10px;
}
.international{
    background-color: rgb(241, 243, 243);
}

.countryText{
    background-color: black;
    z-index: 0;
}

.image{
    z-index: -1;
}


.int{
    background-image: linear-gradient(to bottom,rgba(253, 253, 253, 0),rgba(34, 34, 34, 0.356) , rgba(7, 7, 7, 0.986)), url("../../../public/assets/international/tower.jpg");
    background-size: cover;
}

.dom{
    background-image: linear-gradient(to bottom, rgba(253, 253, 253, 0),rgba(34, 34, 34, 0.568) , rgba(7, 7, 7, 0.986)), url("../../../public/assets/domestic/taj.jpg");
    background-size: cover;
}

.exploerButton{
    border: none;
    background-color: #2092be;
    color: white;
    height: 40px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
    font-size: 15px;
}

.exploerButton:hover{
    background-color: #246883;
    color: rgb(197, 197, 197);
}

.countertext1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #246883;
    border-radius: 150px;
}
